---
apiVersion: v1
kind: Service
metadata:
  name: moltbook-redis
  namespace: moltbook
  labels:
    app: moltbook-redis
spec:
  type: ClusterIP
  ports:
  - port: 6379
    targetPort: 6379
    name: redis
  selector:
    app: moltbook-redis
